@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1em;
    line-height: 1.5em;
}

menu {
    display: none;
}

h1, h2 {
    text-align: center;
    padding: 10px;
}

p {
    text-align: justify;
    text-indent: 25px;
    margin: 15px;
}